<div class="wrapper-two">
	<%= render 'layouts/navbar' %>
	<div class="container">
		<div class="col-md-5 aboutus-img">
		</div>
		<div class="col-md-7 man-png"></div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<h1 class="main-heads">About Us</h1>
				<div class="bottom-line"></div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p class="about_us_paragrap"><b>GCN BROADBAND PVT LTD</b> is an ISP license holder providing networking solutions in FOUR states and still counting. We are currently operating in Karnataka, Andhra Pradesh, Telangana and Gujarat. With growing satisfied customers base, we are expanding in and around the Country. We are launching new branches on a regular basis on demand of our customers. With the best quality of services we are able to hold back our customers in the growing competition. Our area of expertise is in providing real time networking solutions with the best speed and nil breakdowns.</p>
				
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h3 class="highlite-network"><b>“Largest Network Service Provider”</b></h3>
			</div>
		</div>
	</div>	
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="vision-about">
					<h4>
						VISION
					</h4>
					<p>
						<strong>GCN BROADBAND PVT LTD</strong> is aiming at becoming the largest networking service provider in India. Internet is no longer a luxury commodity instead a necessity. With the growing trend towards networking, we at GCN BROADBAND PVT LTD want to make internet available to everyone, hence contribute towards the growth of this dynamic nation, Digital India will soon be a reality. 
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<%= image_tag 'goal.png', :class => "img-responsive vision-img" %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<%= image_tag 'mission2.png', :class => "img-responsive vision-img" %>
			</div>
			<div class="col-md-8">
				<div class="mission-about">
					<h4>
						MISSION
					</h4>
					<p>
						“High speed internet with the lowest cost and almost zero Breakdown” We have a mission to be the best network service provider with prices as low as it can get and create an ultimate connected hub where Internet is no longer a dream. 
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="values-about">
					<h4>
						VALUES
					</h4>
					<p>
						Empathy for Customers We offer superior quality of networking services and deal with our competitors fairly. We are genuinely interested in our customers’ demands and complaints and we always value them more over our Profits. Team sprit “One for all and all for one” is our key to success. No work is too small or no work is too big for us as a Team, We are not just Teams but Families. We never give up, we constantly integrate and motivate our members to work enthusiastically about what we do. No matter how small the job is, our efforts will always remain the same.
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<%= image_tag 'values.png', :class => "img-responsive vision-img" %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<%= image_tag 'honesty.png', :class => "img-responsive vision-img" %>
			</div>
			<div class="col-md-8">
				<div class="honesty-about">
					<h4>
						HONESTY
					</h4>
					<p>
						At <strong>GCN BROADBAND PVT LTD</strong> we believe that Honesty is the highest form of intimacy, we have maintained honesty and transparency in our sales and with our customers and we always promise to do so.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="well">
					<div class="bussiness-concept">
						<h3>BUSSINESS CONCEPT</h3>
						<p><strong>GCN BROADBAND PVT LTD</strong> is an Internet service provider with ISP License aiming at providing high quality networking services with the best prices at right time and right place. We are currently operating across the states of Karnataka, Andhra Pradesh, Telangana and Gujarat. The company has been catering to the networking and Internet Bandwidth requirements of the domestic & enterprise market. GCN BROADBAND PVT LTD offers state-of-the-art Managed Network Services to enterprises across all verticals operates through an STM-16 ring with a network of POP’s.</p>

						<p><strong>GCN BROADBAND PVT LTD</strong> accredited with ISP license, is the only service provider in its domain that provides customers internet bandwidth, which includes network integration as well as managed services. “You seek we provide” is our policy. We give a chance to our customers to choose from a huge verity of plans and we also make sure that it is provided to them at the best possible price and quality services are delivered in time. We also ensure that there is nil breakdowns, Especially for corporate connections we offer them Two or more way connection which will ensure that there is no breakdown of any sort. This unique combination of services is what distinguishes <strong>GCN BROADBAND PVT LTD</strong> from its competitors.</p>
						<p>GCN BROADBAND PVT LTD proved its skills to be a Leader in providing fully converged network platform Data, Voice and Video application supporting to Enterprises across all verticals. We provide Fiber To The Premises (FTTP), Fiber To The Home (FTTH), Fiber to The X (FTTX), Fiber To The Building (FTTB), Fiber To The Cabinet (FTTC), Fiber To The Node (FTTN), Optical Fiber Connection (OFC), CAT6, Digital, HD, 4K, 8K, and IP services.</p>

						<p><strong>GCN BROADBAND PVT LTD</strong> acts as a one stop shop for meeting end to end IT requirements of any Enterprise customer, with experience of long list of satisfied customer base, the company is set to emerge as a leader in the domestic network services market.</p>

						<p><strong>GCN BROADBAND PVT LTD</strong> has deployed advanced Network Management System and Element Management System that provides a centralized network management solution for multi-technology network elements from a single platform enabling the Enterprise customer to realize the benefits of effectively monitored services.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%= render 'care' %>
</div>