<div class="wrapper-two">
	<%= render 'layouts/navbar' %>
	<br/>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<%= image_tag 'email.png', :class => "img-responsive contact-img" %>
			</div>
			<div class="col-md-3">
				<%= image_tag 'phone.png', :class => "img-responsive contact-img" %>
			</div>
			<div class="col-md-3">
				<%= image_tag 'lacation_co.png', :class => "img-responsive contact-img" %>
			</div>
			<div class="col-md-3">
				<%= image_tag 'call-girl.png', :class => "img-responsive careen-img" %>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<h1 class="main-heads">Contact Us</h1>
				<div class="bottom-line"></div>
			</div>
		</div>
	</div>
	<br/>
	<div class="container" id="contact-background">
	<div class="row">
		<div class="col-md-4">
			<div class="sample">
			  <label for="s5">Select Your Location</label>
			  <div class="form-group">
			    <label for="s1">Select Your Location</label>
			    <select id="s1" class="form-control select">
			      <option value="option1">option1</option>
			      <option value="option2">option2</option>
			      <option value="option3">option3</option>
			      <option value="option4">option4</option>
			    </select>
			    <i class="fa fa-map-marker fa-2x location" aria-hidden="true"></i>
			  </div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="gcn-address">
				<div id="option1" class="group">asdf</div>
				<div id="option2" class="group">kljh</div>
				<div id="option3" class="group">zxcv</div>
				<div id="option4" class="group">qwerty</div>
			</div>
		</div>
	</div>
		<%#= image_tag 'contact-us.png', :class => "img-responsive careen-img" %>
	</div>
	<br/>
	<%= render 'care' %>
</div>


<select id="selectMe">
  
</select>