<div class="wrapper-two">
	<%= render 'layouts/navbar' %>
	<br/>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<%= image_tag 'email.png', :class => "img-responsive contact-img" %>
			</div>
			<div class="col-md-3">
				<%= image_tag 'phone.png', :class => "img-responsive contact-img" %>
			</div>
			<div class="col-md-3">
				<%= image_tag 'lacation_co.png', :class => "img-responsive contact-img" %>
			</div>
			<div class="col-md-3">
				<%= image_tag 'call-girl.png', :class => "img-responsive careen-img" %>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<h1 class="main-heads">Contact Us</h1>
				<div class="bottom-line"></div>
			</div>
		</div>
	</div>
	<br/>
	<div class="container" id="contact-background">
	<div class="row">
		<div class="col-md-3">
			<div class="sample">
			  <label for="s5">Select Your Location</label>
			  <div class="custom-dropdown">
			  	<div class="location-selector">
			  		<div class="custom-text-field" id="custom-text-field"></div>
			  		<i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
			  	</div>
			  	<ul class="slider-list" id="slider-list">
			  		<li value="111">Karnataka</li>
			  		<!-- <li value="112">Telangana</li> -->
			  		<li value="113">Andra Pradesh</li>
			  	</ul>
			  </div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="gcn-address">
				<div id="111" class="group">
					<div class="row">
						<div class="col-md-6">
							<div class="panel panel-default contact-panel">
							  <div class="panel-heading">
							    <h3 class="panel-title"><span class="contact-area"><span class="glyphicon glyphicon-map-marker"></span> Bangalore(Head Office)</span> <span class="contact-telephone"><span class="glyphicon glyphicon-phone-alt"></span> 08065764111</span></h3>
							  </div>
							  <div class="panel-body">
							    <div class="contact-address">
							    	<p>No.60, 4th floor, 1<sup>st</sup> Main, Chocolate Factory Road,</p>
							    	<p>above State Bank Of India, Ramalinga Puram,</p>
							    	<p>BTM 1<sup>st</sup> stage, Thavarekere, Bangalore-560029</p>
							    </div>
							  </div>
							  <div class="panel-footer">
							  	<small>Contact:</small>
							  	<p><span class="contact-person"><span class="glyphicon glyphicon-envelope"></span> info@gcnbroadband.com</span>
							  	 <span class="contact-person-no"><span class="glyphicon glyphicon-phone"></span> 8050801888</span></p>
							  </div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="panel panel-default contact-panel">
							  <div class="panel-heading">
							    <h3 class="panel-title"><span class="contact-area"><span class="glyphicon glyphicon-map-marker"></span> Bangalore(Bommanahalli)</span> <span class="contact-telephone"><span class="glyphicon glyphicon-phone-alt"></span>  08065764112</span></h3>
							  </div>
							  <div class="panel-body">
							    <div class="contact-address">
							    	<p>No.53/1, near Hero Honda showroom,</p>
							    	<p>Rupena agrahara, Hosur main road,</p>
							    	<p>Bangalore-560068</p>
							    </div>
							  </div>
							  <div class="panel-footer">
							  	<small>Contact:</small>
							  	<p><span class="contact-person"><span class="glyphicon glyphicon-envelope"></span> info@gcnbroadband.com</span>
							  	 <span class="contact-person-no"><span class="glyphicon glyphicon-phone"></span> 8050801888</span></p>
							  </div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="panel panel-default contact-panel">
							  <div class="panel-heading">
							    <h3 class="panel-title"><span class="contact-area"><span class="glyphicon glyphicon-map-marker"></span> Bangalore (Electronic city)</span> <span class="contact-telephone"><span class="glyphicon glyphicon-phone-alt"></span>  08065764112</span></h3>
							  </div>
							  <div class="panel-body">
							    <div class="contact-address">
							    	<p>No.#1045, SLV Complex, 2<sup>nd</sup> cross</p>
							    	<p>Ananthnagar, 2<sup>nd</sup> phase,</p>
							    	<p>Electronic city, Bangalore-560100</p>
							    </div>
							  </div>
							  <div class="panel-footer">
							  	<small>Contact:</small>
							  	<p><span class="contact-person"><span class="glyphicon glyphicon-envelope"></span> info.ecity@gcnbroadband.com</span>
							  	 <span class="contact-person-no"><span class="glyphicon glyphicon-phone"></span> 8884488005</span></p>
							  </div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="panel panel-default contact-panel">
							  <div class="panel-heading">
							    <h3 class="panel-title"><span class="contact-area"><span class="glyphicon glyphicon-map-marker"></span> Bangalore (J.C Road)</span> <span class="contact-telephone"><span class="glyphicon glyphicon-phone-alt"></span>  08065796666</span></h3>
							  </div>
							  <div class="panel-body">
							    <div class="contact-address">
							    	<p>No.#19, 3<sup>rd</sup> cross,</p>
							    	<p>J.C Road,</p>
							    	<p>Bangalore-560002</p>
							    </div>
							  </div>
							  <div class="panel-footer">
							  	<small>Contact:</small>
							  	<p><span class="contact-person"><span class="glyphicon glyphicon-envelope"></span> info.jcroad@gcnbroadband.com</span>
							  	 <span class="contact-person-no"><span class="glyphicon glyphicon-phone"></span> 8951151782</span></p>
							  </div>
							</div>
						</div>
					</div>
				</div>
				<!-- <div id="112" class="group">kljh</div> -->
				<div id="113" class="group">
					<div class="row">
						<div class="col-md-6">
							<div class="panel panel-default contact-panel">
							  <div class="panel-heading">
							    <h3 class="panel-title"><span class="contact-area"><span class="glyphicon glyphicon-map-marker"></span> Tirupathi (Peddakapu Layout)</span> <span class="contact-telephone"><span class="glyphicon glyphicon-phone-alt"></span>  08776577779</span></h3>
							  </div>
							  <div class="panel-body">
							    <div class="contact-address">
							    	<p>Door No.13-6-581, Peddakapu Layout,</p>
							    	<p>near Ashoka Apartments,</p>
							    	<p>Tirupathi, Andra Pradesh-516002</p>
							    </div>
							  </div>
							  <div class="panel-footer">
							  	<small>Contact:</small>
							  	<p><span class="contact-person"><span class="glyphicon glyphicon-envelope"></span> info.tirupati@gcnbroadband.com</span>
							  	 <span class="contact-person-no"><span class="glyphicon glyphicon-phone"></span> 8121211266</span></p>
							  </div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="panel panel-default contact-panel">
							  <div class="panel-heading">
							    <h3 class="panel-title"><span class="contact-area"><span class="glyphicon glyphicon-map-marker"></span> Tirupathi (Tiruchanoor)</span> <span class="contact-telephone"><span class="glyphicon glyphicon-phone-alt"></span>  08776577779</span></h3>
							  </div>
							  <div class="panel-body">
							    <div class="contact-address">
							    	<p>No.#2-89(10), 2<sup>nd</sup> floor,</p>
							    	<p>Srinivaspuram, Tiruchanoor road,</p>
							    	<p>Tirupathi, Andra Pradesh-517503</p>
							    </div>
							  </div>
							  <div class="panel-footer">
							  	<small>Contact:</small>
							  	<p><span class="contact-person"><span class="glyphicon glyphicon-envelope"></span> info.tirupati@gcnbroadband.com</span>
							  	 <span class="contact-person-no"><span class="glyphicon glyphicon-phone"></span> 9989619889</span></p>
							  </div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="panel panel-default contact-panel">
							  <div class="panel-heading">
							    <h3 class="panel-title"><span class="contact-area"><span class="glyphicon glyphicon-map-marker"></span> Nellore</span> <span class="contact-telephone"><span class="glyphicon glyphicon-phone-alt"></span>  0861654688</span></h3>
							  </div>
							  <div class="panel-body">
							    <div class="contact-address">
							    	<p>Door No.#16/3/210, GSR Complex,</p>
							    	<p>above State Bank Of India, Ramalinga Puram,</p>
							    	<p>Nellore, Andra Pradesh-524003</p>
							    </div>
							  </div>
							  <div class="panel-footer">
							  	<small>Contact:</small>
							  	<p><span class="contact-person"><span class="glyphicon glyphicon-envelope"></span> info.nellore@gcnbroadband.com</span>
							  	 <span class="contact-person-no"><span class="glyphicon glyphicon-phone"></span> 8886600443</span></p>
							  </div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="panel panel-default contact-panel">
							  <div class="panel-heading">
							    <h3 class="panel-title"><span class="contact-area"><span class="glyphicon glyphicon-map-marker"></span> Kadapa</span> <span class="contact-telephone"><span class="glyphicon glyphicon-phone-alt"></span>  8886600440</span></h3>
							  </div>
							  <div class="panel-body">
							    <div class="contact-address">
							    	<p>Door No.42-1197/2, A.P.S.C Complex,</p>
							    	<p>near Shivalayam, Bhagya Nagar</p>
							    	<p>Kadapa, Andra Pradesh-516002</p>
							    </div>
							  </div>
							  <div class="panel-footer">
							  	<small>Contact:</small>
							  	<p><span class="contact-person"><span class="glyphicon glyphicon-envelope"></span> info.kadapa@gcnbroadband.com</span>
							  	 <span class="contact-person-no"><span class="glyphicon glyphicon-phone"></span> 8884488022</span></p>
							  </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		<%#= image_tag 'contact-us.png', :class => "img-responsive careen-img" %>
	</div>
	<br/>
	<%#= render 'care' %>
</div>

<script type="text/javascript">
	$('.group').hide();
	$('#111').show();
	$("#custom-text-field").text($('#slider-list li:first-child').text());
	$("#custom-text-field").click(function(){
		$("#slider-list").slideDown();
		$("#slider-list li").each(function(){
			$(this).click(function(){
				// alert($(this).val());
				$("#custom-text-field").text($(this).text());
				$(".group").hide();
				$('#'+$(this).val()).fadeIn('fast');
				$("#slider-list").slideUp();
			});
		});
	});

	$(document).mouseup(function (e)
	{
	    var container = $("#slider-list");

	    if (!container.is(e.target) // if the target of the click isn't the container...
	        && container.has(e.target).length === 0) // ... nor a descendant of the container
	    {
	        container.slideUp();
	    }
	});
</script>