<footer class="footer-gcn">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<%= image_tag "aboutimg.png", :class=>"img-responsive" %>
			</div>
			<div class="col-md-5">
				<ul class="footer-links">
					<li><%= link_to 'Home', root_path %></li>
					<li><%= link_to 'About Us', about_path %></li>
					<li><%= link_to 'Plans', plans_path %></li>
					<li><%= link_to 'Career', career_path %></li>
					<li><%= link_to 'Contact Us', contact_path %></li>
				</ul>
			</div>
			<div class="col-md-3">
				<div class="contact-nav">
					<div class="social-icons">
						<p>Follow us on:</p>
						<i class="fa fa-google-plus" aria-hidden="true"></i>
						<i class="fa fa-facebook" aria-hidden="true"></i>
						<i class="fa fa-twitter" aria-hidden="true"></i>
					</div>
					<hr class="social-devider" />
					<p>Contact us:</p>
					<h1><b>8884488002/3/5</b></h1>
				</div>
			</div>
		</div>
	</div>
	<div class="final-div">
		 Copyright &#9400; 2015 GCN Broadband Pvt. Ltd. - All Rights Reserved.
	</div>
</footer>
